{% extends "layouts/base.html" %}

{% block title %} Dashboard {% endblock %}

<!-- Plugins CSS goes HERE  -->
{% block plugin_stylesheets %}

    <!-- chartist CSS -->
    <link href="/static/assets/plugins/chartist-js/dist/chartist.min.css" rel="stylesheet">
    <link href="/static/assets/plugins/chartist-js/dist/chartist-init.css" rel="stylesheet">
    <link href="/static/assets/plugins/chartist-plugin-tooltip-master/dist/chartist-plugin-tooltip.css"
          rel="stylesheet">
    <!--This page css - Morris CSS -->
    <link href="/static/assets/plugins/c3-master/c3.min.css" rel="stylesheet">

{% endblock plugin_stylesheets %}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}



    <div class="container-fluid">
        <!-- ============================================================== -->
        <!-- Bread crumb and right sidebar toggle -->
        <!-- ============================================================== -->
        <div class="row page-titles">
            <div class="col-md-5 col-8 align-self-center">
                <h3 class="text-themecolor">Dashboard</h3>
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="javascript:void(0)">Home</a></li>
                    <li class="breadcrumb-item active">Dashboard</li>
                </ol>
            </div>
            <div class="col-md-7 col-4 align-self-center">
                <form id="custform" action="/cust.html">
                    <label for="customer">Choose an Customer:</label>

                    <select onchange="la(this.value)">
                        <option value="/cust.html">John Smith</option>
                        <option value="/index.html">Rosie Himalayan</option>
                        <option value="/index.html">Emin Ogur</option>


                    </select>
                    <input type="submit">


                </form>
                <script>
                    function la(src) {
                        window.location = src;
                    }
                </script>
            </div>
        </div>
        <!-- ============================================================== -->
        <!-- End Bread crumb and right sidebar toggle -->
        <!-- ============================================================== -->
        <!-- ============================================================== -->
        <!-- Start Page Content -->
        <!-- ============================================================== -->
        <!-- Row -->

        <div class="row">
            <!-- Column -->

            <div class="col-lg-5 col-md-4">
                <div class="card">
                    <div class="card-block">
                        <div class="row">
                            <div class="col-12">
                                <div class="d-flex flex-wrap">
                                    <div>
                                        <h3 class="card-title">Consumption</h3>
                                        <h12 class="card-subtitle">Aggregated consumption for all assets for a specific
                                            month
                                        </h12>
                                    </div>
                                    <div class="ml-auto">
                                        <ul class="list-inline">

                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <script>
                                const url = 'https://qit5ayfqrk.execute-api.eu-west-2.amazonaws.com/dev/assets/consumption?id=1'

                                async function getData8() {
                                    const response = await fetch(url);
                                    const data = await response.json();
                                    const obj8 = JSON.parse(data.message.consumption)
                                    xtemps.push(obj8);
                                    console.log(obj8);


                                }


                            </script>
                            <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.5.1/chart.js"></script>
                            <canvas id="chart8" width=500 height=239></canvas>

                            <script>
                                const xtemps = [];
                                const ylabels = ['June'];
                                chartIT8();

                                async function chartIT8() {
                                    await getData8();
                                    const ctx8 = document.getElementById('chart8').getContext('2d');

                                    const myChart8 = new Chart(ctx8, {
                                        type: 'bar',
                                        data: {
                                            labels: ylabels,
                                            datasets: [{
                                                label: 'Consumption',
                                                data: xtemps,
                                                backgroundColor: [
                                                    'rgba(128, 0, 0, 0.2)',

                                                ],
                                                borderColor: [
                                                    'rgba(128, 0, 0, 1)',

                                                ],
                                                borderWidth: 1,
                                                fill: false,
                                            }
                                            ]
                                        }

                                    });
                                    myChart8.update()

                                        setTimeout(function() {
                                            myChart8.update()
                                        }, 3200);
                                }
                            </script>

                        </div>


                    </div>
                </div>
            </div>


            <div class="col-lg-5 col-md-4">
                <div class="card">
                    <div class="card-block">
                        <div class="row">
                            <div class="col-12">
                                <div class="d-flex flex-wrap">
                                    <div>
                                        <h3 class="card-title">Humidity</h3>
                                        <h6 class="card-subtitle">The graph below shows Humidity</h6>
                                    </div>
                                    <div class="ml-auto">
                                        <ul class="list-inline">
                                            <li>
                                                <h6 class="text-muted text-success"><i
                                                        class="fa fa-circle font-10 m-r-10 "></i>Humidity of the Asset
                                                </h6>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                                <script>
                                    var ReverseArray1 = [];
                                    const r_humid = [];
                                    var r3 = [];


                                    async function getData1() {
                                        fetch('https://qit5ayfqrk.execute-api.eu-west-2.amazonaws.com/dev/assets/metric?id=1&limit=100')
                                            .then(data => data.json())
                                            .then(data => {
                                                const obj = JSON.parse(data.message[0].payload[1].metric);
                                                {#console.log(data.message[0].payload[1]);#}
                                                {#console.log(obj);#}


                                                for (var i = 0; i < data.message.length; i++) {
                                                    if (data.message[i].dev_eui === "A81758FFFE05DC28" && data.message[i].payload[1].sensor_type === "humidity") {
                                                        r_humid.push(data.message[i].payload[1].metric);
                                                    }
                                                }
                                                {#console.log(r_humid)#}

                                                for (var j = 0; j < data.message.length; j++) {
                                                    if (data.message[j].dev_eui === "A81758FFFE05DC28") {
                                                        var date = new Date(data.message[j].timestamp);
                                                        var hours = date.getHours(); // minutes part from the timestamp
                                                        var minutes = date.getMinutes(); // seconds part from the timestamp
                                                        var seconds = date.getSeconds(); // will display time in 10:30:23 format
                                                        var formattedTime = hours + ':' + minutes + ':' + seconds;
                                                        r3.push(formattedTime);
                                                    }
                                                }


                                                var length1 = r3.length;
                                                for (var i = length1 - 1; i >= 0; i--) {
                                                    ReverseArray1.push(r3[i]);
                                                }
                                                {#console.log(ReverseArray1)#}

                                            })
                                    }

                                    {#console.log(r_humid)#}


                                </script>
                                <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.5.1/chart.js"></script>

                                <canvas id="chart1" width=500 height=250></canvas>



                                {#                                <canvas id="chart1" width='100' height='100'></canvas>#}
                                {#                                </div>#}
                                {#                                <style>#}
                                {#                                    .wrapper {#}
                                {#                                        height: 500px !important;#}
                                {#                                        }#}
                                {#                                </style>#}

                                {#                                <script>#}
                                {##}
                                {##}
                                {#                                    console.log(Array.isArray(ReverseArray1));#}
                                {#                                    console.log(Array.isArray(r_humid));#}
                                {#                                    console.log(r_humid);#}
                                {#                                    console.log(ReverseArray1);#}
                                {##}
                                {#                                </script>#}

                                <script>


                                    chartIT1();


                                    async function chartIT1() {
                                        ylabels1 = ReverseArray1;
                                        xtemps1 = r_humid;

                                        await getData1();


                                        const ctx1 = document.getElementById('chart1').getContext('2d');

                                        const myChart1 = new Chart(ctx1, {
                                            type: 'line',
                                            data: {
                                                labels: ylabels1,
                                                datasets: [{
                                                    label: 'Humidity',
                                                    data: xtemps1,
                                                    backgroundColor: [
                                                        'rgba(128, 0, 0, 0.2)',

                                                    ],
                                                    borderColor: [
                                                        'rgba(128, 0, 0, 1)',

                                                    ],
                                                    borderWidth: 1,
                                                    fill:false,
                                                }
                                                ],

                                            },

                                        });
                                        myChart1.update()

                                        setTimeout(function() {
                                            myChart1.update()
                                        }, 3200);
                                    }


                                </script>


                            </div>

                        </div>
                    </div>
                </div>
            </div>


            <div class="col-lg-5 col-md-4">
                <div class="card">
                    <div class="card-block">
                        <div class="col-12">
                            <div class="d-flex flex-wrap">
                                <div>
                                    <h3 class="card-title">Temperature</h3>
                                    <h6 class="card-subtitle">The graph below shows Temperature</h6>
                                </div>
                                <div class="ml-auto">
                                    <ul class="list-inline">


                                    </ul>

                                </div>
                            </div>
                            <script>
                                var ReverseArray = [];
                                const r_temp = [];
                                const r2 = [];


                                async function getData() {
                                    fetch('https://qit5ayfqrk.execute-api.eu-west-2.amazonaws.com/dev/assets/metric?id=1&limit=100')
                                        .then(data => data.json())
                                        .then(data => {
                                            const obj = JSON.parse(data.message[0].payload[0].metric);
                                            {#console.log(data.message[0].payload[0]);#}
                                            {#console.log(obj);#}

                                            var dev = "A81758FFFE05DC28";
                                            {#var sensor = "temperature";#}
                                            var results = [];

                                            {#console.log(r_temp);#}
                                            {#console.log(r2);#}


                                            for (var i = 0; i < data.message.length; i++) {
                                                if (data.message[i].dev_eui === dev && data.message[i].payload[0].sensor_type === "temperature") {
                                                    r_temp.push(data.message[i].payload[0].metric);
                                                }
                                            }

                                            for (var j = 0; j < data.message.length; j++) {
                                                if (data.message[j].dev_eui === dev) {
                                                    var date = new Date(data.message[j].timestamp);
                                                    var hours = date.getHours(); // minutes part from the timestamp
                                                    var minutes = date.getMinutes(); // seconds part from the timestamp
                                                    var seconds = date.getSeconds(); // will display time in 10:30:23 format
                                                    var formattedTime = hours + ':' + minutes + ':' + seconds;
                                                    r2.push(formattedTime);
                                                }
                                            }
                                            {#console.log(typeof(results));#}
                                            {#console.log(r2);#}
                                            var perChunk1 = 1;
                                            var perChunk2 = 1;
                                            var r_tempr = r_temp.reduce((resultArray, item, index) => {
                                                var chunkIndex = Math.floor(index / perChunk1)
                                                if (!resultArray[chunkIndex]) {
                                                    resultArray[chunkIndex] = [] // start a new chunk
                                                }
                                                resultArray[chunkIndex].push(item)
                                                return resultArray
                                            }, [])
                                            var r2r = r2.reduce((resultArray, item, index) => {
                                                var chunkIndex = Math.floor(index / perChunk2)
                                                if (!resultArray[chunkIndex]) {
                                                    resultArray[chunkIndex] = [] // start a new chunk
                                                }
                                                resultArray[chunkIndex].push(item)
                                                return resultArray
                                            }, [])
                                            {#console.log(r_temp);#}
                                            const propertyNames = Object.values(r_temp);
                                            {#console.log(propertyNames)#}
                                            {#console.log(typeof (propertyNames))#}
                                            {#console.log(r2);#}
                                            {#console.log(r_temp);#}


                                            var length = r2.length;
                                            for (var i = length - 1; i >= 0; i--) {
                                                ReverseArray.push(r2[i]);
                                            }
                                            {#console.log(ReverseArray)#}


                                        })
                                }


                            </script>
                            <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.5.1/chart.js"></script>
                            <canvas id="chart" width=500 height=250></canvas>
                            <script>

                                chartIT();
                                var xlabel = r_temp;
                                var ylabel = ReverseArray;

                                async function chartIT() {
                                    await getData();


                                    const ctx = document.getElementById('chart').getContext('2d');

                                    const myChart = new Chart(ctx, {
                                        type: 'line',
                                        data: {
                                            labels: ylabel,
                                            datasets: [{
                                                label: 'Temperature',
                                                data: xlabel,
                                                backgroundColor: [
                                                    'rgba(128, 0, 0, 0.2)',

                                                ],
                                                borderColor: [
                                                    'rgba(128, 0, 0, 1)',

                                                ],
                                                borderWidth: 1,
                                                fill: false,
                                            }
                                            ]
                                        }

                                    });
                                    myChart.update()

                                        setTimeout(function() {
                                            myChart.update()
                                        }, 3200);
                                }
                            </script>

                            </script>

                            </script>


                        </div>
                    </div>
                </div>
            </div>
            <!-- Row -->
            <!-- Row -->

            <!-- Column -->
            <div class="col-lg-5 col-md-4">
                <div class="card">
                    <div class="card-block">
                        <div class="row">
                            <div class="col-12">
                                <div class="d-flex flex-wrap">
                                    <div>
                                        <h3 class="card-title">Voltage used</h3>
                                        <h6 class="card-subtitle">The graph below shows Voltage</h6>
                                    </div>
                                    <div class="ml-auto">
                                        <ul class="list-inline">

                                        </ul>
                                    </div>
                                </div>
                                <script>
                                    var ReverseArray4 = [];
                                    const r_current = [];
                                    var r4 = [];


                                    async function getData4() {
                                        fetch('https://qit5ayfqrk.execute-api.eu-west-2.amazonaws.com/dev/assets/metric?id=1&limit=100')
                                            .then(data => data.json())
                                            .then(data => {
                                                const obj4 = JSON.parse(data.message[0].payload[2].metric);
                                                {#console.log(data.message[0].payload[2]);#}
                                                {#console.log(obj4);#}


                                                for (var i = 0; i < data.message.length; i++) {
                                                    if (data.message[i].dev_eui === "A81758FFFE05DC28" && data.message[i].payload[2].sensor_type === "battery") {
                                                        r_current.push(data.message[i].payload[2].metric);
                                                    }
                                                }
                                                {#console.log(r_current)#}

                                                for (var j = 0; j < data.message.length; j++) {
                                                    if (data.message[j].dev_eui === "A81758FFFE05DC28") {
                                                        var date = new Date(data.message[j].timestamp);
                                                        var hours = date.getHours(); // minutes part from the timestamp
                                                        var minutes = date.getMinutes(); // seconds part from the timestamp
                                                        var seconds = date.getSeconds(); // will display time in 10:30:23 format
                                                        var formattedTime = hours + ':' + minutes + ':' + seconds;
                                                        r4.push(formattedTime);
                                                    }
                                                }


                                                var length4 = r4.length;
                                                for (var i = length4 - 1; i >= 0; i--) {
                                                    ReverseArray4.push(r4[i]);
                                                }
                                                {#console.log(ReverseArray4)#}

                                            })
                                    }

                                    {#console.log(r_current)#}


                                </script>
                                <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.5.1/chart.js"></script>
                                <canvas id="chart4" width=500 height=250></canvas>
                                <script>

                                    chartIT4();


                                    async function chartIT4() {
                                        await getData4();


                                        const ctx4 = document.getElementById('chart4').getContext('2d');

                                        const myChart4 = new Chart(ctx4, {
                                            type: 'line',
                                            data: {
                                                labels: ReverseArray4,
                                                datasets: [{
                                                    label: 'Voltage',
                                                    data: r_current,
                                                    backgroundColor: [
                                                        'rgba(128, 0, 0, 0.2)',

                                                    ],
                                                    borderColor: [
                                                        'rgba(128, 0, 0, 1)',

                                                    ],
                                                    borderWidth: 1,
                                                    fill:false,
                                                }
                                                ]
                                            }

                                        });
                                        myChart4.update()

                                        setTimeout(function() {
                                            myChart4.update()
                                        }, 3200);
                                    }
                                </script>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-5 col-md-4">
                <div class="card">
                    <div class="card-block">
                        <div class="col-12">
                            <div class="d-flex flex-wrap">
                                <div>
                                    <h3 class="card-title">Vibration</h3>
                                    <h6 class="card-subtitle">The graph below shows Vibration</h6>
                                </div>
                                <div class="ml-auto">
                                    <ul class="list-inline">

                                    </ul>
                                </div>
                            </div>
                            <script>
                                var ReverseArray5 = [];
                                var ReverseArray6 = [];
                                var ReverseArray7 = [];

                                const r_amplitude = [];
                                const r_freq = [];
                                const r_percent = [];
                                var r5 = [];
                                var r6 = [];
                                var r7 = [];


                                async function getData5() {
                                    fetch('https://qit5ayfqrk.execute-api.eu-west-2.amazonaws.com/dev/assets/metric?id=1&limit=100')
                                        .then(data => data.json())
                                        .then(data => {
                                            const obj5 = JSON.parse(data.message[0].payload[0].metric);
                                            {#console.log(data);#}


                                            for (var i = 0; i < data.message.length; i++) {
                                                if (data.message[i].dev_eui === "0022A70E00000075") {
                                                    r_amplitude.push(data.message[i].payload[0].amplitude);
                                                }
                                            }
                                            {#console.log(r_amplitude)#}
                                            for (var i = 0; i < data.message.length; i++) {
                                                if (data.message[i].dev_eui === "0022A70E00000075") {
                                                    r_freq.push(data.message[i].payload[1].freq);
                                                }
                                            }
                                            {#console.log(r_freq)#}
                                            for (var i = 0; i < data.message.length; i++) {
                                                if (data.message[i].dev_eui === "0022A70E00000075") {
                                                    r_percent.push(data.message[i].payload[1].percent);
                                                }
                                            }
                                            {#console.log(r_percent)#}

                                            for (var j = 0; j < data.message.length; j++) {
                                                if (data.message[j].dev_eui === "0022A70E00000075") {
                                                    var date = new Date(data.message[j].timestamp);
                                                    var hours = date.getHours(); // minutes part from the timestamp
                                                    var minutes = date.getMinutes(); // seconds part from the timestamp
                                                    var seconds = date.getSeconds(); // will display time in 10:30:23 format
                                                    var formattedTime = hours + ':' + minutes + ':' + seconds;
                                                    r5.push(formattedTime);
                                                }
                                            }


                                            var length5 = r5.length;
                                            for (var i = length5 - 1; i >= 0; i--) {
                                                ReverseArray5.push(r5[i]);
                                            }
                                            {#console.log(ReverseArray5)#}

                                        })
                                }

                                {#console.log(r_amplitude)#}


                            </script>
                            <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.5.1/chart.js"></script>
                            <canvas id="chart5" width=500 height=250></canvas>
                            <script>

                                chartIT5();


                                async function chartIT5() {
                                    await getData5();


                                    const ctx5 = document.getElementById('chart5').getContext('2d');

                                    const myChart5 = new Chart(ctx5, {
                                        type: 'line',
                                        data: {
                                            labels: ReverseArray5,
                                            datasets: [{
                                                label: 'Amplitude',
                                                data: r_amplitude,
                                                backgroundColor: [
                                                    'rgba(128, 0, 0, 0.2)',

                                                ],
                                                borderColor: [
                                                    'rgba(128, 0, 0, 1)',

                                                ],
                                                borderWidth: 1,
                                                fill:false,
                                            }
                                            ]
                                        }
                                    });
                                    myChart5.update()

                                        setTimeout(function() {
                                            myChart5.update()
                                        }, 3200);
                                }
                            </script>
                            <script src=" https://cdn.jsdelivr.net/npm/chart.js@3.5.1/dist/chart.js"></script>
                            <canvas id="chart6" width=500 height=250></canvas>
                            <script>

                                chartIT6();


                                async function chartIT6() {
                                    await getData5();


                                    const ctx6 = document.getElementById('chart6').getContext('2d');

                                    const myChart6 = new Chart(ctx6, {
                                        type: 'line',
                                        data: {
                                            labels: ReverseArray5,
                                            datasets: [{
                                                label: 'Frequency',
                                                data: r_freq,
                                                backgroundColor: [
                                                    'rgba(128, 0, 0, 0.2)',

                                                ],
                                                borderColor: [
                                                    'rgba(128, 0, 0, 1)',

                                                ],
                                                borderWidth: 1,
                                                 fill: false,
                                            }
                                            ]
                                        }

                                    });
                                    myChart6.update()

                                        setTimeout(function() {
                                            myChart6.update()
                                        }, 3200);

                                }
                            </script>
                            <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.5.1/chart.js"></script>
                            <canvas id="chart7" width=500 height=250></canvas>
                            <script>

                                chartIT7();


                                async function chartIT7() {
                                    await getData5();


                                    const ctx7 = document.getElementById('chart7').getContext('2d');

                                    const myChart7 = new Chart(ctx7, {
                                        type: 'line',
                                        data: {
                                            labels: ReverseArray5,
                                            datasets: [{
                                                label: 'Percent',
                                                data: r_percent,
                                                backgroundColor: [
                                                    'rgba(128, 0, 0, 0.2)',

                                                ],
                                                borderColor: [
                                                    'rgba(128, 0, 0, 1)',

                                                ],
                                                borderWidth: 1,
                                                fill:false,
                                            }
                                            ]
                                        }
                                    });
                                    myChart7.update()

                                        setTimeout(function() {
                                            myChart7.update()
                                        }, 3200);
                                }
                            </script>
                        </div>
                    </div>


                </div>
            </div>

            <div class="col-lg-5 col-md-4">
                <div class="card">
                    <div class="card-block">
                        <div class="col-12">
                            <div class="d-flex flex-wrap">
                                <div>
                                    <h3 class="card-title">Pressure</h3>
                                    <h6 class="card-subtitle">The graph below shows Pressure</h6>
                                </div>
                                <div class="ml-auto">
                                    <ul class="list-inline">

                                    </ul>
                                </div>
                            </div>
                            <script>
                                var ReverseArray9 = [];
                                const r_pressure = [];
                                var r9 = [];


                                async function getData9() {
                                    fetch('https://qit5ayfqrk.execute-api.eu-west-2.amazonaws.com/dev/assets/metric?id=1&limit=100')
                                        .then(data => data.json())
                                        .then(data => {
                                            const obj9 = JSON.parse(data.message[0].payload[0].metric);
                                            {#console.log(data.message[0].payload[0]);#}
                                            {#console.log(obj);#}

                                            var dev9 = "70B3D5CD000201DF";
                                            console.log(data)


                                            for (var i = 0; i < data.message.length; i++) {
                                                if (data.message[i].dev_eui === dev9 && data.message[i].payload[0].sensor_type === "pressure") {
                                                    r_pressure.push(data.message[i].payload[0].metric);
                                                }
                                            }
                                            console.log(r_pressure);


                                            for (var j = 0; j < data.message.length; j++) {
                                                if (data.message[j].dev_eui === "0022A70E00000075") {
                                                    var date = new Date(data.message[j].timestamp);
                                                    var hours = date.getHours(); // minutes part from the timestamp
                                                    var minutes = date.getMinutes(); // seconds part from the timestamp
                                                    var seconds = date.getSeconds(); // will display time in 10:30:23 format
                                                    var formattedTime = hours + ':' + minutes + ':' + seconds;
                                                    r9.push(formattedTime);
                                                }
                                            }


                                            var length9 = r9.length;
                                            for (var i = length9 - 1; i >= 0; i--) {
                                                ReverseArray9.push(r9[i]);
                                            }
                                            console.log(ReverseArray9)

                                        })
                                }

                                getData9();

                                {#console.log(r_amplitude)#}


                            </script>
                            <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.5.1/chart.js"></script>
                            <canvas id="chart9" width=500 height=250></canvas>
                            <script>

                                chartIT9();


                                async function chartIT9() {
                                    await getData8();


                                    const ctx9 = document.getElementById('chart9').getContext('2d');

                                    const myChart9 = new Chart(ctx9, {
                                        type: 'line',
                                        data: {
                                            labels: ReverseArray9,
                                            datasets: [{
                                                label: 'Pressure',
                                                data: r_pressure,
                                                backgroundColor: [
                                                    'rgba(128, 0, 0, 0.2)',

                                                ],
                                                borderColor: [
                                                    'rgba(128, 0, 0, 1)',

                                                ],
                                                borderWidth: 1,
                                                fill:false,
                                            }
                                            ]
                                        }

                                    });
                                    myChart9.update()

                                        setTimeout(function() {
                                            myChart9.update()
                                        }, 3200);

                                }
                            </script>
                        </div>

                    </div>
                </div>


            </div>
        </div>
    </div>


    </div>
    <!-- ============================================================== -->
    <!-- End PAge Content -->
    <!-- ============================================================== -->
    </div>
<script>

window.addEventListener('resize')
</script>

{% endblock content %}


