{% extends "layouts/base.html" %}

{% block title %} User Profile {% endblock %}

<!-- Plugins CSS goes HERE  -->
{% block plugin_stylesheets %}{% endblock plugin_stylesheets %}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

    <div class="container-fluid">
    <!-- ============================================================== -->
    <!-- Bread crumb and right sidebar toggle -->
    <!-- ============================================================== -->
    <div class="row page-titles">
        <div class="col-md-5 col-8 align-self-center">
            <h3 class="text-themecolor m-b-0 m-t-0">Notifications</h3>
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="javascript:void(0)">Home</a></li>
                <li class="breadcrumb-item active">Table</li>
            </ol>
        </div>

    </div>
    <!-- ============================================================== -->
    <!-- End Bread crumb and right sidebar toggle -->
    <!-- ============================================================== -->
    <!-- ============================================================== -->
    <!-- Start Page Content -->
    <!-- ============================================================== -->

    <div class="row">
        <!-- column -->
        <div class="col-lg-12">
            <div class="card">
                <div class="card-block">
                    <h4 class="card-title">Notifications Details</h4>

                    <script>

                        fetch('https://qit5ayfqrk.execute-api.eu-west-2.amazonaws.com/dev/assets/notifications').then(
                            res => {
                                res.json().then(
                                    data => {
                                        console.log(data.message);

                                        if (data.message.length > 0) {
                                            var temp = "";
                                            data.message.forEach((u) => {
                                                temp += "<tr>";
                                                temp += "<td>" + u.notification_id + "</td>";
                                                temp += "<td>" + u.title + "</td>";
                                                temp += "<td>" + u.notification + "</td>";
                                                temp += "<td>" + u.user_id + "</td>";
                                                temp += "<td>" + u.timestamp + "</td>";
                                                temp += "<td>" + u.acknowledge + "</td>";
                                                temp += "<td>" + u.notification_type + "</td>";
                                                temp += "<td>" + u.asset_id + "</td>";

                                            })
                                            $("button").click(function () {
                                                document.getElementById("data").innerHTML = temp;
                                            })
                                        }
                                    }
                                )
                            }
                        )


                    </script>

                    <style>
                        .ScrollStyle {
                            max-height: 500px;
                            overflow-y: scroll;
                        }
                    </style>
                    <style>
                        .button {
                            background-color: #8C1437; /* Green */
                            border: none;
                            color: white;
                            padding: 10px;
                            text-align: center;
                            text-decoration: none;
                            display: inline-block;
                            font-size: 16px;
                            margin: 1px 1px;
                            cursor: pointer;
                        }


                        .button1 {
                            border-radius: 8px;
                        }
                    </style>
                    <div class="ScrollStyle">
                        <div class="table-responsive">
                            <button class="button button1">Display all Notification</button>
                            <input id='myInput' onkeyup='searchTable()' type='text' placeholder="Type to search">
                            <table class="table" id="tablecustomer">
                                <thead>
                                <tr>


                                    <th>ID</th>
                                    <th>Title</th>
                                    <th>Notification</th>
                                    <th>User ID</th>
                                    <th>Timestamp</th>
                                    <th>Acknowledge</th>
                                    <th>Type</th>
                                    <th>Asset ID</th>


                                </tr>
                                </thead>
                                <tbody id="data">

                                </tbody>


                            </table>
                            <style>
                                body {
                                    padding: 20px;
                                }

                                input {
                                    margin-bottom: 5px;
                                    padding: 2px 3px;
                                    width: 209px;
                                }

                                td {
                                    padding: 4px;
                                    border: 1px #CCC solid;
                                    width: 100px;
                                }
                            </style>
                            <script>
                                function searchTable() {
                                    var input, filter, found, table, tr, td, i, j;
                                    input = document.getElementById("myInput");
                                    filter = input.value.toUpperCase();
                                    table = document.getElementById("tablecustomer");
                                    tr = table.getElementsByTagName("tr");
                                    for (i = 0; i < tr.length; i++) {
                                        td = tr[i].getElementsByTagName("td");
                                        for (j = 0; j < td.length; j++) {
                                            if (td[j].innerHTML.toUpperCase().indexOf(filter) > -1) {
                                                found = true;
                                            }
                                        }
                                        if (found) {
                                            tr[i].style.display = "";
                                            found = false;
                                        } else {
                                            tr[i].style.display = "none";
                                        }
                                    }
                                }
                            </script>


                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>



{% endblock content %}

{% block javascripts %}{% endblock javascripts %}
