@import '../variable';

$themecolor: #8c1439;
$themecolor-dark: #8c1439;
$topbar: #8c1439;
$themecolor-alt: #8c1439;

/*******************
/*Top bar
*******************/

.topbar {
  background: $topbar;

  .navbar-header {
    background: rgba(0, 0, 0, 0.05);
  }

  .top-navbar .navbar-header .navbar-brand .dark-logo {
    display: none;
  }

  .top-navbar .navbar-header .navbar-brand .light-logo {
    display: inline-block;
    color: rgba(255, 255, 255, 0.8);
  }

  .navbar-light .navbar-nav .nav-item > {
    a.nav-link {
      color: $white !important;

      &:hover,
      &:focus {
        color: rgba(255, 255, 255, 0.8) !important;
      }
    }
  }
}


/*******************
/*General Elements
*******************/

a.link {
  &:hover,
  &:focus {
    color: $themecolor !important;
  }
}

.bg-theme {
  background-color: $themecolor !important;
}

.pagination > .active > a,
.pagination > .active > span,
.pagination > .active > a:hover,
.pagination > .active > span:hover,
.pagination > .active > a:focus,
.pagination > .active > span:focus {
  background-color: $themecolor;
  border-color: $themecolor;
}

.right-sidebar {
  .rpanel-title {
    background: $themecolor;
  }
}

.stylish-table {
  tbody tr {
    &:hover,
    &.active {
      border-left: 4px solid $themecolor;
    }
  }
}

.text-themecolor {
  color: $themecolor !important;
}

.profile-tab,
.customtab {
  li {
    a.nav-link {
      &.active {
        border-bottom: 2px solid $themecolor;
        color: $themecolor;
      }

      &:hover {
        color: $themecolor;
      }
    }
  }
}


/*******************
/*Buttons
*******************/

.btn-themecolor,
.btn-themecolor.disabled {
  background: $themecolor;
  color: $white;
  border: 1px solid $themecolor;

  &:hover {
    background: $themecolor;
    opacity: 0.7;
    border: 1px solid $themecolor;
  }

  &.active,
  &:focus {
    background: $themecolor-dark;
  }
}


/*******************
/*sidebar navigation
*******************/

.sidebar-nav {
  background: $sidebar;

  ul {
    li {
      a {
        color: $sidebar-text;

        &.active,
        &:hover {
          color: $themecolor-alt;
        }

        &.active {
          color: $dark;
        }
      }

      &.nav-small-cap {
        color: $muted;
      }
    }
  }

  > ul > li {
    &.active > a,
    &.active:hover > a {
      color: $white;
      background: $themecolor-alt;

      i {
        color: $white;
      }

      &:after {
        border-color: $white;
      }
    }
  }

  > ul > li > a {
    &.active,
    &:hover {
      i {
        color: $themecolor-alt;
      }
    }

    i {
      color: $sidebar-icons;
    }

    &.active {
      font-weight: 400;
      background: $white;
      color: $themecolor;
    }
  }
}

.card-no-border {
  .sidebar-nav {
    > ul > li > a {
      &.active {
        color: $white;
        background: $themecolor-alt;

        i {
          color: $white;
        }

        &:after {
          border-color: $white;
        }
      }
    }
  }
}
